<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TheBeerProject.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>30AB6903230BE45B00F6E442</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30AB6917230BE45D00F6E442</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30AB6922230BE45D00F6E442</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
